.project-slider{

    &__wrapper{
        padding: 6rem 1rem 1rem;
    }

    &__card{

        &-image{
            width: 100%;
            aspect-ratio: 1 / 0.65;
            object-fit: cover;
        }
    }
}