.header{
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;

    @media screen and (min-width: 1024px){
        padding: 1rem 2rem;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;
    }

    &__title{

        &-text{
            font-size: 1rem;
            line-height: 1.2em;
            letter-spacing: -.06em;
            font-weight: 600;
            font-family: "Roboto Mono", sans-serif;
        }
    }

    &__menu{
        font-size: 18px;
        letter-spacing: -.06em;
        font-weight: 600;
        font-family: "Roboto Mono", sans-serif;
        background: none;
        border: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        width: 60px;
        align-items: end;
        cursor: pointer;

        &-close{
            position: absolute;
            right: 0;
            transform: translateY(100%);
            transition: transform 0.5s ease-in-out;

            &--active{
                transform: translateY(0%);
            }
        }

        &-open{
            transform: translateY(0%);
            transition: transform 0.5s ease-in-out;

            &--active{
                transform: translateY(-100%);
            }
        }
    }
}