.about-info-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "roboto mono", sans-serif;
    padding: 0 1rem;

    @media screen and (min-width:768px){
        padding: 0;
    }

    &__title{
        text-transform: uppercase;
    }

    &__list{
        list-style-type: "- ";
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-item{
            font-weight: 400;
            font-size: 0.8rem;
            letter-spacing: -.035em;
            color: #878787;
        }        
    }
}