.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    max-width: 1600px; 
    margin: auto;

    @media screen and (min-width:768px){
        margin-top: 2rem;
    }

    &__line{
        width: 100%;
        height: 1px;
        background: #878787;
    }
    
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        gap: 0.5rem;

        @media screen and (min-width:768px){
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        &-title{
            font-weight: 600;
            font-size: 12px;
            line-height: .88;
            letter-spacing: .02em;
            text-transform: uppercase;
        }

        &-link{
            font-weight: 600;
            font-size: 12px;
            line-height: .88;
            letter-spacing: .02em;
            text-transform: uppercase;
            color: inherit;
            text-decoration: none;
            display: flex;
            gap: 0.4rem;
            align-items: center;

            &--arrow{
                font-size: 0.5rem;
                transform: rotateZ(-45deg);
            }
        }
    }
}